.FillInTheBlank {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.FillInTheBlank > .content {
  outline: none;
  padding-bottom: 0.2rem;
  border-bottom: var(--border);
  min-width: 50px;
}
